{% extends 'base.html' %}
{% load static %}

{% block 'title' %}hodhod{% endblock 'title' %}
{% block 'content' %}
<div class="main-container">
    <div class="form-container">
        
        

        <div class="form-body">
            <br>
            <h2 class="title">Signup</h2>

            {% if messages %}
            {% for message in messages %}

              <p style="color:rgb(250, 11, 234)">{{ message}}</p>
                         
            {% endfor %}
            
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <label for="username">username</label>
                <br>
                <input type="text" name="username" id="username" placeholder="Enter your username">
                <br><br>
                <label for="password1">Password</label>
                <br>
                <input type="password1" name="password1" id="password1" placeholder="Enter your password">
                <br><br>
                <input type="submit" >

            </form>

        </div><!-- FORM BODY-->

        <div class="form-footer">
            <div>
                <span>you have account? Login</span> <a href="">Sign Up</a>
            </div>
        </div><!-- FORM FOOTER -->

    </div><!-- FORM CONTAINER -->
</div>
{% endblock 'content' %}