{% extends 'base.html' %}
{% load static %}
{% block 'title' %}hodhod{% endblock 'title' %}
{% block 'content' %}
<div class="main-container">
    <div class="form-container">
        
        

        <div class="form-body">
            <br>
            <h2 class="title">Password Change</h2>

            {% if messages %}
            {% for message in messages %}

              <p style="color:rgb(162, 11, 250)">{{ message}}</p>
                         
            {% endfor %}
            
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <label for="old_password">old password</label>
                <br>
                <input type="text" name="old_password" id="old_password" placeholder="Enter your old_password">
                <br><br>
                <label for="new_password1">Password</label>
                <br>
                <input type="password" name="new_password1" id="new_password1" placeholder="Enter your new password">
                <br><br>
                <label for="new_password2">Confirm your New Password</label>
                <br>
                <input type="password" name="new_password2" id="new_password2" placeholder="Confirm your new password">
                <br><br>
                <input type="submit" >

            </form>

        </div><!-- FORM BODY-->

        <div class="form-footer">
            <div>
                <span></span> <a href="{% url 'root:home' %}" style="color: red;">Home</a>
            </div>
        </div><!-- FORM FOOTER -->

    </div><!-- FORM CONTAINER -->

</div>
{% endblock 'content' %}