{% extends 'base.html' %}
{% load static %}

{% block 'title' %}hodhod{% endblock 'title' %}
{% block 'content' %}
<div class="main-container">
    <div class="form-container">
        
        

        <div class="form-body">
            <br>
            <h2 class="title">Passwoed reset</h2>

            {% if messages %}
            {% for message in messages %}

              <p style="color:rgb(250, 11, 234)">{{ message}}</p>
                         
            {% endfor %}
            
            {% endif %}
            <form method="post">
                {% csrf_token %}
                <br><br>
                <label for="email">Email</label>
                <br>
                <input type="email" name="email" id="email" placeholder="Enter your email">
                <br><br>

                <input type="submit" >

            </form>

        </div><!-- FORM BODY-->

        <div class="form-footer">
            <div>
                <span style="color: black ;"></span> <a href="{% url 'account:login' %}" style="color: red;"><br>Login</a>
            </div>
        </div><!-- FORM FOOTER -->

    </div><!-- FORM CONTAINER -->

</div>
{% endblock 'content' %}